/* GENERAL RESET */
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* UTILITY */

.d-flex{
    display: flex;
}

.pos-rel{
    position: relative;
}

.pos-abs{
    position: absolute;
}

/* EDITING TAG */
a{
    text-decoration: none;
}

li{
    list-style: none;
    margin: 0 10px;
}

/* EDITING SECTION */



/* SECTION ONE*/

.section-one{
    height: 110vh;
    background-image: url("../img/home-banner.jpg");
    background-size: cover;
}

header{
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.navbar-header>ul>li>a{
    color: white;
}

.navbar-header>ul>li>a:hover{
    color: #793735;
}

.text-header{
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 50px;
}

.text-header>h1{
    font-size: 90px
}

.text-header>h1,
.text-header>p,
.text-header>div{
    margin-top: 45px ;
}

.join-header{
    border: 1px solid white;
    width: 200px;
    margin: auto;
    padding: 20px;
}

.join-header:hover{
    color: #793735;
    border-color: #793735;;
    cursor: pointer;
}
/* SECTION TWO*/
.section-two-container{
    background-color: rgb(37, 41, 43);
}

.section-two-text{
    width: 1200px;
    margin: auto;
    text-align: center;
    padding: 100px 0;
    color: white;
}

.section-two-text>h1,
.section-two-text>img,
.section-two-text>p{
    margin-top: 20px;
}

.section-two-text>p{
    color: rgb(170, 169, 169);
}

.section-two-container::after{
    content: '';
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: rgb(37, 41, 43);
    transform: rotate(45deg);
    left: calc(50% - 50px);
    bottom: -25px;
    
}


/* SECTION THREE*/
.section-three-container{
    justify-content: center;
    padding: 150px 20px;
    background-color: #1f2123;
}

.section-three-img-container>img{
    max-width: 500px;
}

.section-three-form-container{
    color: white;
    padding: 10px 20px;
}


/* SECTION FOUR*/


/* SECTION FIVE*/


/* SECTION SIX*/


/* SECTION SEVEN*/


/* SECTION EIGHT*/


/* SECTION NINE*/


/* SECTION TEN*/


/* SECTION ELEVEN*/


/* FOOTER */

