/* GENERAL RESET */
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* UTILITY */

.d-flex{
    display: flex;
}

.pos-rel{
    position: relative;
}

/* EDITING TAG */
a{
    text-decoration: none;
}

li{
    list-style: none;
    margin: 0 10px;
}

/* EDITING SECTION */



/* SECTION ONE*/

.section-one{
    height: 100vh;
    background-image: url("../img/home-banner.jpg");
}

header{
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}
/* SECTION TWO*/


/* SECTION THREE*/


/* SECTION FOUR*/


/* SECTION FIVE*/


/* SECTION SIX*/


/* SECTION SEVEN*/


/* SECTION EIGHT*/


/* SECTION NINE*/


/* SECTION TEN*/


/* SECTION ELEVEN*/


/* FOOTER */

