/* GENERAL RESET */
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* UTILITY */

.d-flex{
    display: flex;
}

.pos-rel{
    position: relative;
}

.pos-abs{
    position: absolute;
}

/* EDITING TAG */
a{
    text-decoration: none;
}

li{
    list-style: none;
    margin: 0 10px;
}

/* EDITING SECTION */



/* SECTION ONE*/

.section-one{
    height: 110vh;
    background-image: url("../img/home-banner.jpg");
    background-size: cover;
}

header{
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.navbar-header>ul>li>a{
    color: white;
}

.navbar-header>ul>li>a:hover{
    color: #793735;
}

.text-header{
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 50px;
}

.text-header>h1{
    font-size: 90px
}

.text-header>h1,
.text-header>p,
.text-header>div{
    margin-top: 45px ;
}

.join-header{
    border: 1px solid white;
    width: 200px;
    margin: auto;
    padding: 20px;
}

.join-header:hover{
    color: #793735;
    border-color: #793735;;
    cursor: pointer;
}
/* SECTION TWO*/
.section-two-container{
    background-color: rgb(37, 41, 43);
}

.section-two-text{
    width: 1200px;
    margin: auto;
    text-align: center;
    padding: 100px 0;
    color: white;
}

.section-two-text>h1,
.section-two-text>img,
.section-two-text>p{
    margin-top: 20px;
}

.section-two-text>p{
    color: rgb(170, 169, 169);
}

.section-two-container::after{
    content: '';
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: rgb(37, 41, 43);
    transform: rotate(45deg);
    left: calc(50% - 50px);
    bottom: -25px;
    
}


/* SECTION THREE*/
.section-three-container{
    justify-content: center;
    padding: 100px 20px;
    background-color: #1f2123;
}

.section-three-img-container>img{
    max-width: 500px;
}

.section-three-form-container{
    color: white;
    padding: 0px 40px;
}

.section-three-signup-detail{
    margin-top: 40px;
}

.section-three-signup-detail+input{
    margin-top: 5px;
    width: 400px;
    height: 40px;
    border-color: gray;
    background-color: #1f2123;;
    color: white;
    padding: 0 10px;
}

.section-three-btn-red{
    margin-top: 40px;
    width: 400px;
    background-color: tomato;
    color: white;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 2px;
}

.section-three-btn-red>a{
    color: white;
}

/* SECTION FOUR*/
.section-four-container{
    height: 500px;
    background-size: cover;
    background-image: url("../img/gym_bkgd_bw-compressor.jpg");
    background-repeat: no-repeat;
    background-position: center center ;
    padding: 100px 0 ;
}

.section-four-container-data{
    max-width: 1000px;
    margin: auto;
    justify-content: space-between;
    padding: 0 10px;
    text-align: center;
    /* background-color: red; */
}

.section-four-item{
    padding: 50px 0;
    width: calc(100% / 4 - 20px);
    /* background-color: blue; */
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.icon-section-four,
.text-section-four{
    margin: 5px 0;
}

.short-text-section-four{
    margin-top: 40px;
    color: white;
}

.icon-section-four::after{
    content: '';
    position: absolute;
    border: 1px solid tomato;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    left: 86px;
    top: 39px;
}

.text-section-four{
    color: gray;
}

.fa-dumbbell{
    display: block;
    color: tomato;
}

/* SECTION FIVE*/
.section-five-container{
    background-color: #25292b;
    padding: 100px 0;
}

.section-five-top-part{
    color: white;
    width: 800px;
    margin: auto;
    text-align: center;
    font-size: 25px;
}

.section-five-top-part>img{
    margin-top: 15px;
}

.section-five-bottom-part{
    max-width: 1000px;
    margin: 15px auto 15px;
    justify-content: space-between;
}

.section-five-bottom-part-item{
    width: calc(100% / 2 - 30px);
    background-color: #1f2123;
    padding: 20px;
}

.section-five-item-text{
    padding-left: 30px;
    color: #aaa9a9;
}

.section-five-item-text>h4{
    margin-top: 5px;
}


/* SECTION SIX*/


/* SECTION SEVEN*/


/* SECTION EIGHT*/


/* SECTION NINE*/


/* SECTION TEN*/


/* SECTION ELEVEN*/


/* FOOTER */

