/* GENERAL RESET */
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* UTILITY */

.d-flex{
    display: flex;
}

.pos-rel{
    position: relative;
}

.pos-abs{
    position: absolute;
}

/* EDITING TAG */
a{
    text-decoration: none;
}

li{
    list-style: none;
    margin: 0 10px;
}

/* EDITING SECTION */



/* SECTION ONE*/

.section-one{
    height: 110vh;
    background-image: url("../img/home-banner.jpg");
    background-size: cover;
}

header{
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.navbar-header>ul>li>a{
    color: white;
}

.navbar-header>ul>li>a:hover{
    color: #793735;
}

.text-header{
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 50px;
}

.text-header>h1{
    font-size: 90px
}

.text-header>h1,
.text-header>p,
.text-header>div{
    margin-top: 45px ;
}

.join-header{
    border: 1px solid white;
    width: 200px;
    margin: auto;
    padding: 20px;
}

.join-header:hover{
    color: #793735;
    border-color: #793735;;
    cursor: pointer;
}
/* SECTION TWO*/
.section-two-container{
    background-color: rgb(37, 41, 43);
}

.section-two-text{
    width: 1200px;
    margin: auto;
    text-align: center;
    padding: 100px 0;
    color: white;
}

.section-two-text>h1,
.section-two-text>img,
.section-two-text>p{
    margin-top: 20px;
}

.section-two-text>p{
    color: rgb(170, 169, 169);
}

.section-two-container::after{
    content: '';
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: rgb(37, 41, 43);
    transform: rotate(45deg);
    left: calc(50% - 25px);
    bottom: -25px;
}


/* SECTION THREE*/
.section-three-container{
    justify-content: center;
    padding: 100px 20px;
    background-color: #1f2123;
}

.section-three-img-container>img{
    max-width: 500px;
}

.section-three-form-container{
    color: white;
    padding: 0px 40px;
}

.section-three-signup-detail{
    margin-top: 40px;
}

.section-three-signup-detail+input{
    margin-top: 5px;
    width: 400px;
    height: 40px;
    border-color: gray;
    background-color: #1f2123;;
    color: white;
    padding: 0 10px;
}

.section-three-btn-red{
    margin-top: 40px;
    width: 400px;
    background-color: tomato;
    color: white;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 2px;
}

.section-three-btn-red>a{
    color: white;
}

/* SECTION FOUR*/
.section-four-container{
    height: 500px;
    background-size: cover;
    background-image: url("../img/gym_bkgd_bw-compressor.jpg");
    background-repeat: no-repeat;
    background-position: center center ;
    padding: 100px 0 ;
}

.section-four-container-data{
    max-width: 1000px;
    margin: auto;
    justify-content: space-between;
    padding: 0 10px;
    text-align: center;
    /* background-color: red; */
}

.section-four-item{
    padding: 50px 0;
    width: calc(100% / 4 - 20px);
    /* background-color: blue; */
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.icon-section-four,
.text-section-four{
    margin: 5px 0;
}

.short-text-section-four{
    margin-top: 40px;
    color: white;
}

.icon-section-four::after{
    content: '';
    position: absolute;
    border: 1px solid tomato;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    left: 86px;
    top: 39px;
}

.text-section-four{
    color: gray;
}

.fa-dumbbell{
    display: block;
    color: tomato;
}

/* SECTION FIVE*/
.section-five-container{
    background-color: #25292b;
    padding: 100px 0;
}

.section-five-top-part{
    color: white;
    width: 800px;
    margin: auto;
    text-align: center;
    font-size: 25px;
}

.section-five-top-part>img{
    margin-top: 15px;
}

.section-five-bottom-part{
    max-width: 1000px;
    margin: 15px auto 15px;
    justify-content: space-between;
}

.section-five-bottom-part-item{
    width: calc(100% / 2 - 30px);
    background-color: #1f2123;
    padding: 20px;
}

.section-five-item-text{
    padding-left: 30px;
    color: #aaa9a9;
}

.section-five-item-text>h4{
    margin-top: 5px;
}


/* SECTION SIX*/
.section-six-container{
    background-color: #25292b;
    padding: 100px 0;
}

.section-six-top-part{
    color: white;
    width: 1000px;
    margin: auto;
    text-align: center;
    font-size: 25px;
    /* border: 1px solid white; */
}

.section-six-top-part>img{
    margin-top: 35px;
}

.section-six-gallery{
    width: 1000px;
    /* border: 1px solid white; */
    margin: auto;
    /* justify-content: space-between; */
    margin-top: 70px;
}

.section-six-gallery>img{
    width: calc(100% / 3 - 25px);
}

.section-six-gallery>img:nth-child(2) {
    margin-left: 40px;
}

.section-six-gallery>img:nth-child(3) {
    margin-left: 40px;
}

/* SECTION SEVEN*/
.section-seven-container{
    height: 60vh;
    background-image: url("../img/home-testimonial-bg.jpg");
    background-position: center center ;
    background-size: cover;
    background-repeat: no-repeat;
}

.section-seven-text{
    max-width: 700px;
    margin: auto;
    color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.section-seven-text>h3{
    line-height: 2;
    letter-spacing: 0.174em;
    font-size: 26px;
}

.section-seven-text>p{
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 40px;
}

/* SECTION EIGHT*/
.section-eight-container{
    background-color: #1f2123;
    padding: 100px 0;
}


.section-eight-top-part{
    color: white;
    width: 1000px;
    margin: auto;
    text-align: center;
    font-size: 25px;
    /* border: 1px solid white; */
}

.section-eight-top-part>img{
    margin-top: 35px;
}

.section-eight-trainer{
    width: 1000px;
    margin: auto;
    /* height: 500px; */
    justify-content: space-between;
}

.section-eight-single-trainer>img{
    max-width:100%;
}

.section-eight-single-trainer>h3{
    color: white;
    padding: 0 50px;
    margin-top: 30px;
}

.section-eight-single-trainer>p{
    color: grey;
    padding: 0 50px;
    margin-top: 30px;
    line-height: 2;
}

.section-eight-single-trainer{
    width: calc(100% / 3 - 30px);
    height: 100%;
    background-color: #25292b;
}

.section-eight-social{
    padding: 0 40px;
    margin: 40px 0;
}

.section-eight-social>span{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    background-color: #1f2123;
    display: block;
    text-align: center;
    margin: 5px 5px;
    color: white;
}

.section-eight-social>span>a{
    color: white;
}

.section-eight-btn-trainer{
    width: 250px;
    height: 50px;
    line-height: 7px;
    margin: auto;
    text-align: center;
    padding: 20px;
    border: 1px solid white;
    color: white;
    margin-top: 50px;
}

.section-eight-container::after{
    content: '';
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: #1f2123;
    transform: rotate(45deg);
    left: calc(50% - 25px);
    bottom: -25px;
}

/* SECTION NINE*/
.section-nine-container{
    background-color: #25292b;
    margin: auto;
    padding: 100px 0;
}

.section-nine-top-part{
    color: white;
    width: 1000px;
    margin: auto;
    padding: 150px 0;
    text-align: center;
    font-size: 25px;
    /* border: 1px solid white; */
}

.section-nine-top-part>h2+img{
    margin-top: 50px;
}

.section-nine-card-img>img{
    max-width: 100%;
}

.section-nine-card-trainer{
    max-width: 1000px;
    /* border: 1px solid white; */
    margin: auto;
    justify-content: space-between;
    
    flex-wrap: wrap;
}

.section-nine-card-item{
    width: calc(100% / 3 - 30px);
    align-self: flex-start;
    background-color: #1f2123;
    color: white;
}

.section-nine-card-text{
    padding: 30px 20px;
}

.section-nine-card-text>p{
    color: #aaa9a9;
    margin-top: 10px;
}

.section-nine-card-item.four{
    position: relative;
    bottom: 100px;
}

.section-nine-card-item.five{
    position: relative;
    top: 45px;
}

.section-nine-card-item.six{
    position: relative;
    bottom: 33px;
}

.section-nine-btn{
    text-align: center;
    color: white;
    font-size:18px;
    margin: 100px auto 20px;
    border: 1px solid white;
    width: 250px;
    padding: 20px 0px;
}

.section-nine-btn:hover{
    color: orange;
    border-color: orange;
    cursor: pointer;
}

/* SECTION TEN*/
.section-ten-container{
    height: 30vh;
    background-image: url("../img/home-parallax.jpg");
    background-size: cover;
    background-position: 30% 20%;
    background-repeat: no-repeat;
}

.section-ten-text{
    max-width: 1000px;
    margin: auto;
    padding: 40px 0;
    align-items: center;
   
}

.section-ten-text>h3{
    max-width: 60%;
    color: white;
    font-size: 30px;
    margin-top: 35px;
}

.section-ten-text>h3>p{
    font-size: 15px;
    margin-top: 10px;
}

.section-ten-btn{
     border: 1px solid white;
     width: 150px;
     height: 50px;
     line-height: 50px;
     text-align: center;
     margin-left: 210px;
     margin-top: 35px;
     color: white;
}

.section-ten-btn:hover{
    cursor: pointer;
    color: orange;
    border-color: orange;
}

/* SECTION ELEVEN*/
.section-eleven-container{
    background-color: #1f2123;
    padding: 100px 0;
}

.section-eleven-items-container{
    max-width: 1000px;
    margin: auto;
    justify-content: space-between;
}

.section-eleven-item{
    width: calc(100% / 4 - 25px);
    /* border: 1px solid white; */
    color: white;
    padding: 5px;
}

.section-eleven-item>h4{
    margin-bottom: 20px;
    color:#6c777b;
    font-weight: 400;
}

.section-eleven-item>p{
    line-height: 2;
    letter-spacing: 0.13em;
    font-size: 13px;
    color:#999;
}

.border-both{
    margin-top: 10px;
    padding: 10px 0;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
}

.section-eleven-item>.img-section-eleven{
    padding: 0;
    max-width: 110%;
}

/* FOOTER */
.footer-container{
    background-color: #1a1c1e;
    padding: 50px;
    align-items: center;
}

.container-items-footer{
    max-width: 1000px;
    margin: auto;
    color: white;
}


.footer-list ul li a{
    font-size: 14px;
    color: white;
}

.bordo-footer{
    margin-left: 20px;
    color: white;
}

.footer-social{
    /* border: 1px solid white; */
    margin-left: 0px;
    position: relative;
    left: 50px;
    bottom: 15px;
}

.footer-social>i{
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 5px;
    margin: 0 5px;
    background-color: #ee6059;
}
