<!DOCTYPE html>
<html lang="en">
<head>
    <!-- css -->
    <link rel="stylesheet" href="./css/style.css">
    <!-- vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- fontAwesome -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css'/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- GENERAL CONTAINER -->
    <div class="general-container" id="app">
        
        <!-- SECTION ONE (navbar + hero) -->
        <div class="section-one pos-rel">
            <header 
                class="d-flex ">
                <div class="header-logo">
                    <img src="./img/gym_logo_1x.png" alt="">
                </div>
                <div class="navbar-header">
                    <ul class="d-flex">
                        <li 
                            v-for="link in linkHeader">
                            <a 
                                href="#">
                                {{link.link}}
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="text-header pos-abs">
                    <h1>
                        NO PAIN NO GAIN
                    </h1>
                    <p>Motivation is what gets you started. Habits is what keeps you going.</p>
                   <div class="join-header">
                       JOIN US TODAY
                   </div>
                </div>
            </header>
        </div>

        <!-- SECTION TWO (world class finest-->
        <div class="section-two-container pos-rel">
           <div class="section-two-text">
                <h1>
                    WORLD CLASS Fitness
                </h1>
                <img src="./img/divider-xx-red.png" alt="">
                <p>
                At Avada Gym, everything we do from top to bottom is of the highest quality to ensure we're equipped to help you reach your goals of healty and fit lifestyle
                </p>
           </div>
        </div>
        
        <!-- SECTION THREE (sign up)-->
        <div class="section-three-container d-flex">
            <div class="section-three-img-container">
                <img src="./img/home_img-compressor.jpg" alt="">
            </div>
            <div class="section-three-form-container">
                <h3>
                    Sign Up For  free training session!
                </h3>
                <div class="section-three-signup-detail">
                    Name
                </div>
                <input type="text" >
                <div class="section-three-signup-detail">
                    Email
                </div>
                <input type="text" >
                <br>
                <div class="section-three-btn-red">
                    <a href="#">
                        Start Now!
                    </a>
                </div>
            </div>
        </div>
        <!-- SECTION FOUR (strenght condition)-->
        <div class="section-four-container pos-rel">
            <div class="section-four-container-data d-flex">
                <div class="section-four-item pos-rel">
                    <div class="icon-section-four">
                        <i class="fas fa-unlink"></i>
                    </div>
                    <div class="short-text-section-four">
                        Strenght e Conditioning
                    </div>
                    <img src="./img/divider-x-red.png" alt="">
                    <div class="text-section-four">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum est alias maxime quo labore dolores tenetur fugit error ipsa voluptatem.
                    </div>
                </div>
                <div class="section-four-item pos-rel">
                    <div class="icon-section-four">
                        <i class="fas fa-bicycle"></i>
                    </div>
                    <div class="short-text-section-four">
                        Strenght e Conditioning
                    </div>
                    <img src="./img/divider-x-red.png" alt="">
                    <div class="text-section-four">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum est alias maxime quo labore dolores tenetur fugit error ipsa voluptatem.
                    </div>
                </div>
                <div class="section-four-item pos-rel">
                    <div class="icon-section-four">
                        <i class="fas fa-bed"></i>
                    </div>
                    <div class="short-text-section-four">
                        Strenght e Conditioning
                    </div>
                    <img src="./img/divider-x-red.png" alt="">
                    <div class="text-section-four">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum est alias maxime quo labore dolores tenetur fugit error ipsa voluptatem.
                    </div>
                </div><div class="section-four-item pos-rel">
                    <div class="icon-section-four">
                        <i class="fas fa-heartbeat"></i>
                    </div>
                    <div class="short-text-section-four">
                        Strenght e Conditioning
                    </div>
                    <img src="./img/divider-x-red.png" alt="">
                    <div class="text-section-four">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum est alias maxime quo labore dolores tenetur fugit error ipsa voluptatem.
                    </div>
                </div>
            </div>
        </div>
        <!-- SECTION FIVE (real world result)-->
        <div class="section-five-container">
            <div class="section-five-top-part">
                <h2>
                    REAL WORLD RESULTS
                </h2>
                <img src="./img/divider-xx-red.png" alt="">
            </div>
            <div class="section-five-bottom-part d-flex">
                <div class="section-five-bottom-part-item d-flex">
                   <div class="section-five-item-img">
                        <img 
                            src="./img/review_1-compressor.jpg">
                   </div>
                    <div class="section-five-item-text">
                        <p>
                            "The trainers at Avada Gym have helped me reach my fitness golads beyond anything I could of hoped for. I love it!"
                        </p>
                        <h4>
                            -Tara Smith
                        </h4>
                    </div>
                </div>
                <div class="section-five-bottom-part-item d-flex">
                    <div class="section-five-item-img">
                         <img 
                             src="./img/review_3-compressor-2.jpg">
                    </div>
                     <div class="section-five-item-text">
                         <p>
                             "The atmosphere at Avada Gym is amazing, the people are evene better. All in all, it is a great place to work out"
                         </p>
                         <h4>
                             -Simon Chel
                         </h4>
                     </div>
                 </div>
            </div>
            <div class="section-five-bottom-part d-flex">
                <div class="section-five-bottom-part-item d-flex">
                   <div class="section-five-item-img">
                        <img 
                            src="./img/review_2-compressor.jpg">
                   </div>
                    <div class="section-five-item-text">
                        <p>
                            "The facilities at Avada Gym stood out to me the most. They are well maintained and have high quality equipment."
                        </p>
                        <h4>
                            -Jen Wirth
                        </h4>
                    </div>
                </div>
                <div class="section-five-bottom-part-item d-flex">
                    <div class="section-five-item-img">
                         <img 
                             src="./img/review_4-compressor-2.jpg">
                    </div>
                     <div class="section-five-item-text">
                         <p>
                             "No bad things to say about Avada Gym, they are top notch at every corner and truly take care of their customers."
                         </p>
                         <h4>
                             -Jeff Glum
                         </h4>
                     </div>
                 </div>
            </div>
        </div>
        <!-- SECTION SIX (high performance facility)-->
        <div class="section-six-container">
            <div class="section-six-top-part">
                <h2>
                    HIGH PERFORMANCE FACILITIES
                </h2>
                <img src="./img/divider-xx-red.png" alt="">
            </div>
            <div class="section-six-gallery d-flex">
                <img src="./img/home-image1.jpg" >
                <img src="./img/home-image2.jpg" >
                <img src="./img/home-image3.jpg" >
            </div>
            <div class="section-six-gallery d-flex">
                <img src="./img/home-image4.jpg" >
                <img src="./img/home-image54.jpg" >
                <img src="./img/home-image6.jpg" >
            </div>
        </div>
        <!-- SECTION SEVEN (fists logo)-->
        <div class="section-seven-container pos-rel">
           <div class="section-seven-text pos-abs">
                <h3>
                    "I fear not the man who has practided 10,000 kicks once, but I fear the man who has practiced one kick 10,000 times"
                </h3>
                <p>
                    xx
                </p>
                <h4>
                    BRUCE LEE  &#8226; QUOTE OF THE DAY
                </h4>
           </div>            
        </div>
        <!-- SECTION EIGHT (meet our trainers) -->
        <div class="section-eight-container pos-rel">
            <div class="section-eight-top-part">
                <h2>
                    MEET OUR TRAINERS
                </h2>
                <img src="./img/divider-xx-red.png" alt="">
            </div>
            <div class="section-eight-trainer d-flex">
                <div class="section-eight-single-trainer">
                    <img src="./img/trainer1-400x297.jpg" alt="">
                    <h3>
                        Ann Baker
                        <br>
                        Personal Trainer
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, cum debitis!
                    </p>
                    <div class="section-eight-social d-flex">
                        <span>
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </span>
                        <span>
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </span>
                        <span>
                            <a href="#">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </span>
                    </div>
                </div>
                <div class="section-eight-single-trainer">
                    <img src="./img/trainer3-400x297.jpg" alt="">
                    <h3>
                        Anne Warren
                        <br>
                        Personal Trainer
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, cum debitis!
                    </p>
                    <div class="section-eight-social d-flex">
                        <span>
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </span>
                        <span>
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </span>
                        <span>
                            <a href="#">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </span>
                    </div>
                </div>
                <div class="section-eight-single-trainer">
                    <img src="./img/trainer4-400x297.jpg" alt="">
                    <h3>
                        Peter Rice
                        <br>
                        Personal Trainer
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, cum debitis!
                    </p>
                    <div class="section-eight-social d-flex">
                        <span>
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </span>
                        <span>
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </span>
                        <span>
                            <a href="#">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="section-eight-btn-trainer">
                VIEW ALL TRAINER
            </div>
        </div>

        <!-- SECTION NINE (performance news) -->
        <div class="section-nine-container">
            <div class="section-nine-top-part">
                <h2>
                    PERFORMANCE NEWS
                </h2>
                <img src="./img/divider-xx-red.png" alt="">
            </div>
            <div class="section-nine-card-trainer d-flex">
                <div class="section-nine-card-item">
                    <div class="section-nine-card-img">
                        <img src="./img/blog1-400x208.jpg" alt="">
                    </div>
                    <div class="section-nine-card-text">
                        <h1>
                            Lorem ipsum dolor sit amet.
                        </h1>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat ipsa sapiente atque voluptatum suscipit distinctio at placeat tempora corporis nihil!
                        </p>
                    </div>
                </div>
                <div class="section-nine-card-item">
                    <div class="section-nine-card-img">
                        <img src="./img/blog6-600x600.jpg" alt="">
                    </div>
                    <div class="section-nine-card-text">
                        <h1>
                            Lorem ipsum dolor sit amet.
                        </h1>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat ipsa sapiente atque voluptatum suscipit distinctio at placeat tempora corporis nihil!
                        </p>
                    </div>
                </div>
                <div class="section-nine-card-item">
                    <div class="section-nine-card-img">
                        <img src="./img/trainer4-400x297.jpg" alt="">
                    </div>
                    <div class="section-nine-card-text">
                        <h1>
                            Lorem ipsum dolor sit amet.
                        </h1>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat ipsa sapiente atque voluptatum suscipit distinctio at placeat tempora corporis nihil!
                        </p>
                    </div>
                </div>
                <div class="section-nine-card-item four">
                    <div class="section-nine-card-img">
                        <img src="./img/blog4-400x289.jpg" alt="">
                    </div>
                    <div class="section-nine-card-text">
                        <h1>
                            Lorem ipsum dolor sit amet.
                        </h1>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat ipsa sapiente atque voluptatum suscipit distinctio at placeat tempora corporis nihil!
                        </p>
                    </div>
                </div>
                <div class="section-nine-card-item five">
                    <div class="section-nine-card-img">
                        <img src="./img/trainer3-400x297.jpg" alt="">
                    </div>
                    <div class="section-nine-card-text">
                        <h1>
                            Lorem ipsum dolor sit amet.
                        </h1>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat ipsa sapiente atque voluptatum suscipit distinctio at placeat tempora corporis nihil!
                        </p>
                    </div>
                </div>
                <div class="section-nine-card-item six">
                    <div class="section-nine-card-img">
                        <img src="./img/trainer1-400x297.jpg" alt="">
                    </div>
                    <div class="section-nine-card-text">
                        <h1>
                            Lorem ipsum dolor sit amet.
                        </h1>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat ipsa sapiente atque voluptatum suscipit distinctio at placeat tempora corporis nihil!
                        </p>
                    </div>
                </div>
            </div>
            <div class="section-nine-btn">
                READ ALL ARTICLES
            </div>
        </div>
        <!-- SECTION TEN (red banner) -->
        <div class="section-ten-container">
            <div class="section-ten-text d-flex">
                <h3>
                    Achieve your fitness goals
                    <p>
                        Flexible membership packages to suit all levels of athlete and achive your fitness goals
                    </p>
                </h3>
                <div class="section-ten-btn">
                    JOIN US
                </div>
            </div>
        </div>
        <!-- SECTION ELEVEN (come find us) -->
        <div class="section-eleven-container">
            <div class="section-eleven-items-container d-flex">
                <div 
                    v-for="element in sectionEleven"
                    class="section-eleven-item pos-rel">
                    <h4>
                       {{element.title}}
                    </h4>
                    <p 
                        class="firstP"    
                    >
                    <i :class="element.icon"
                        class="arrow-first">

                    </i>
                   {{element.firstP}}
                    </p>
                    <p 
                        class="working-hours"
                    >
                        {{element.weekHours}}
                    </p>
                    <p
                    class="secondP"
                    >
                     <i :class="element.icon"
                        class="arrow-second">

                     </i>
                        {{element.secondP}}
                    </p>
                    <p 
                        class="working-hours"
                    >
                        {{element.weekEndHours}}
                    </p>
                </div>

                
                <div class="section-eleven-item">
                   <img class="img-section-eleven" :src="imgDiscount" alt="">
                </div>
            </div>
        </div>

        <!-- FOOTER -->
        <div class="footer-container d-flex">
            <div class="container-items-footer d-flex">
               <div class="footer-list d-flex">
                    <ul 
                    class="d-flex"
                    >
                        <li 
                            v-for="link in footer"    
                        >
                            <a href="#"
                            class="d-flex"    
                            >
                                {{link.link}} 
                            </a>
                        </li>
                        
                    </ul>
               </div>
               <div 
                    class="footer-social">
                <i 
                    v-for="nome in social"
                    :class="nome.nome">

                </i>
               </div>
            </div>
        </div>

        <!-- FIXED BOX BOTTOM PAGE -->
        <div class="box-fixed">
            <a href="index.html">
                <i class="fas fa-chevron-up">
                </i>
            </a>     
        </div>
    </div>
    <!-- END GENERAL CONTAINER -->

    <!-- js -->
    <script src="./js/main.js"></script>
</body>
</html>